setoption uci_chess960 true
setoption hash 64
uci
position startpos moves e2e4 e7e5 f1c4 g8f6 d2d4 c7c6 d4e5 f6e4 g1e2 e4f2 e5e6 f8e7 e6d7 e8f8
echo info fen rnbq1k1r/pp1Pbppp/2p5/8/2B5/8/PPP1NnPP/RNBQK2R w AH -
position
echo 62379:
go depth 2
wait

position fen r3k2r/p1ppqpb1/bn2pnp1/3PN3/1p2P3/2N2Q1p/PPPBBPPP/R3K2R w KQkq - 0 25
echo 193690690:
go depth 4
wait

echo 8031647685:
go depth 5

#position fen nqbnrbkr/pppppppp/8/8/8/8/PPPPPPPP/NQBNRBKR w KQkq - 0 1
#position moves e2e4
#echo 93888956
#go depth 5
#wait
#position fen r1bqkbnr/pppp1ppp/2n/4p/4P/5N/PPPP1PPP/RNBQKB1R w KQkq -
#go depth 2 divide
#wait
#position startpos moves e2e4 e7e5 g1f3 b8c6
#go depth 2 divide
#position fen r3k2r/p1ppqpb1/bn2pnp1/3PN3/1p2P3/2N2Q1p/PPPBBPPP/R3K2R w KQkq - 0 25
#go depth 4
#wait
#go depth 4
#wait
#go depth 4
#go depth 5
#wait
#go depth 5
#go depth 6
#wait
#8031647685
#finished
