echo 193690690:
position fen r3k2r/p1ppqpb1/bn2pnp1/3PN3/1p2P3/2N2Q1p/PPPBBPPP/R3K2R w KQkq - 0 25
go depth 4
wait

echo 8031647685:
go depth 5
isready

#position fen nqbnrbkr/pppppppp/8/8/8/8/PPPPPPPP/NQBNRBKR w KQkq - 0 1
#position moves e2e4
#echo 93888956
#go depth 5
#wait
#position fen r1bqkbnr/pppp1ppp/2n/4p/4P/5N/PPPP1PPP/RNBQKB1R w KQkq -
#go depth 2 divide
#wait
#position startpos moves e2e4 e7e5 g1f3 b8c6
#go depth 2 divide
#position fen r3k2r/p1ppqpb1/bn2pnp1/3PN3/1p2P3/2N2Q1p/PPPBBPPP/R3K2R w KQkq - 0 25
#go depth 4
#wait
#go depth 4
#wait
#go depth 4
#go depth 5
#wait
#go depth 5
#go depth 6
#wait
#8031647685
#finished
